<scrip></scrip>
<style type="text/css">
    bbp {
      /*border: 2px solid red;*/
      display: inline-grid;
      width: 150px;
      height: 150px;
      vertical-align: middle;
      margin-top: 50px;
      margin-left: 100px;
      cursor: pointer;
      border-radius: 80px;
    }
    bbp.bg-green{
        background-color: lightseagreen;
    }

    bbp.bg-green span.txt_label:after{
        -webkit-text-stroke: 17px lightseagreen;
    }
    bbp.bg-blue{
        background-color:#5a6187;
    }
    bbp.bg-blue span.txt_label:after{
        -webkit-text-stroke: 17px #5a6187;
    }
    bbp.bg-red{
        background-color:#e87628;
    }
    bbp.bg-red span.txt_label:after{
        -webkit-text-stroke: 17px #e87628;
    }    
    bbp span.ico {
      font-size: 3em;
      margin-left: 28px;
      position: relative;
      transition: all 0.2s;
    }
    bbp:hover span.ico {
      transform: translateY(-20px);
      transition: all 0.2s;
    }
    bbp span.txt_label {
      text-align: center;
      font-size: 26px;
      font-family: Matura MT Script Capitals;
      position: relative;
      top: -30px;
      color: white;
      z-index: 10;
      left: calc((150px - 50%) / 2);
    }
    bbp span.txt_label:after {
      content: attr(data-text);
      left: calc(-50%);
      position: relative;
      z-index: -1;
    }
</style>
<div>
    <bbp class="bg-green"><span class="ico"><img src="beer.png"></span>
        <span class="txt_label" data-text="BEER">BEER</span>
    </bbp>
        <bbp class="bg-blue"><span class="ico"><img src="good.png"></span>
        <span class="txt_label" data-text="GOOD">GOOD</span>
    </bbp>
        <bbp class="bg-red"><span class="ico"><img src="girl.png"></span>
        <span class="txt_label" data-text="GIRL">GIRL</span>
    </bbp>


    <p>亲测，文字部分不适合用CSS来做，因为花字变化太大，CSS3对描边的支持还不够好，但描边又不能缺少，</BR> 导致我去HACK的时候，进行了大量的计算，所以还是用图片比较无脑。</p>
</div>